extends ../layout/common

block content
  h1 Manager Transaction In System 
  if errors
      each error in errors
        .alert.alert-danger= error
  main#main
      h1.ui.center.aligned.header List transaction in system
      .ui.container
        table.ui.celled.table.center.aligned
          thead
            tr
              th ID Transaction
              th UserName
              th Title
              th Status
              th  
          tbody
            each tran in trans
              tr
                td #{tran.id}
                td= users.find(x => x.id === tran.userId).name
                td= books.find(x => x.id === tran.bookId).title
                td= (tran.isComplete == true)?'Complete' :'Renting'
                td 
                  a(href="/transaction/edit/"+ tran.id) Edit

          tfoot
            tr
              th(colspan='5')
    
  nav(aria-label='Page navigation').mt-4
                    ul.pagination.justify-content-center
                        if(current_page == 1  )
                            li.page-item.disabled
                                a.page-link(href='/transaction/list?page=1', tabindex='-1', aria-disabled='true') Previous
                        else
                            - var back_page = parseInt(current_page)-1;
                            li.page-item
                                a.page-link(href=href='/transaction/list?page='+(back_page)) Previous
                        - var n =1;
                            while (n < (numpage+1))
                                if (n == current_page) 
                                    li.page-item.active(aria-current='page')
                                        a.page-link(href=href='/transaction/list?page='+n)=n++
                                            span.sr-only (current)
                                else
                                    li.page-item
                                            a.page-link(href='/transaction/list?page='+n)= n++
                        if( current_page == numpage)
                            li.page-item.disabled
                                a.page-link(href='/transaction/list?page=1', tabindex='-1', aria-disabled='true') Next
                        else
                            - var next_page = parseInt(current_page)+1;
                            li.page-item
                                a.page-link(href=href='/transaction/list?page='+(next_page)) Next

  a(href="/transaction/") Back
